## Examples Lecture 9: dictionaries
Together, dictionaries and lists cover most of the collections you will see in python. A Dictionary is an (unordered!) list of key:value pairs. A HUGE portion of programming problems you will face boil down to implementing some sort of hash lookup and this is where dictionaries excel. You can create dictionaries with the curly brace notation

In [26]:
D = {'two':2,'three':3}
D.values()

dict_values([2, 3])

The same square bracket notation is used to get items out of the dictionary

In [27]:
D['three']

3

Dictionaries are mutable so you can change items in place

In [28]:
print(D)
D['three']=1
D

{'two': 2, 'three': 3}

{'two': 2, 'three': 1}

In [29]:
D['four']=4
D

{'two': 2, 'three': 1, 'four': 4}

In [30]:
print(D.keys())
print(D.values())
print(D.items())

dict_keys(['two', 'three', 'four'])
dict_values([2, 1, 4])
dict_items([('two', 2), ('three', 1), ('four', 4)])

In [32]:
D['one'] = 1
print(D)

{'two': 2, 'three': 1, 'four': 4, 'one': 1}

In [35]:
D={'one':1,'two':2,'three':3,'four':4}
print(D)
del(D['one'])
print(D)
D.pop('four')
print(D)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}
{'two': 2, 'three': 3, 'four': 4}
{'two': 2, 'three': 3}

In [36]:
D.clear()
print(D)

{}

Dictionaries have lots of methods (look at Documentation<TAB>), but one particularly important is items(). 
There is also a concept of iterating over the dictionary (in a few distinct ways) but dictionaries aren't ordered. If you _need_ them to be ordered, you can work around this by sorting the keys (or values) in the loop

In [5]:
for key, value in D.items():
    print(f"{key}: {value}")

two: 2
three: 1
four: 4

In [6]:
for key,value in sorted(D.items()):
    print(f"{key}: {value}")

four: 4
three: 1
two: 2

Dictionaries also have a comprehension idiom for quickly creating simple dictionaries, but again, use it sparingly and where it won't cause confusion.

In [7]:
D2 = {str(i): i for i in range(5) }
D2

{'0': 0, '1': 1, '2': 2, '3': 3, '4': 4}

The `in` keyword will test for the existence of keys in a dict, e.g.

In [8]:
'2' in D2

True

The ** in front of a variable is used to indicate both the key and the value in a dictionary.
Using that syntaxis you can manipulate dictionaries.
Also this ** is used in function variables to indicate that the input is an arbitrary number of keys and values

In [9]:
x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}
z = {**x, **y}
print(x)
print(y)
print(z)

{'a': 1, 'b': 2}
{'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}

### Example: Dictionary with the cities and populations in Alberta

In [37]:
''' create a dictionary of a list of cities in Alberta, Canada and their population'''
d={'Calgary': '1,096,833', 'Edmonton': '812,201', 'Red Deer': '100,418', 'Lethbridge': '92,729', 'St. Albert': '64,645', 'Medicine Hat': '63,260', 'Grande Prairie': '63,166', 'Airdrie': '61,581', 'Spruce Grove': '34,066', 'Lloydminster': '31,400', 'Fort Saskatchewan': '24,149', 'Camrose': '18,742', 'Cochrane': '18,015', 'Brooks': '14,451', 'Stony Plain': '15,051', 'Canmore': '13,992', 'Hanna': '2,673', 'Vegreville': '5,708', 'High River': '13,584', 'Morinville': '9,848', 'Whitecourt': '10,204', 'Sylvan Lake': '14,816', 'Wetaskiwin': '12,655', 'Okotoks': '28,881', 'Ponoka': '6,773', 'Taber': '8,104', 'Banff': '7,851', 'Lacombe': '13,057', 'Drumheller': '8,029', 'Devon': '6,578', 'Olds': '9,184', 'Blackfalds': '9,328', 'Stettler': '5,952', 'Cochrane': '18,015', 'Slave Lake': '6,782', 'Edson': '8,414', 'Athabasca': '2,965', 'Peace River': '6,729', 'Vermilion': '4,900', 'Wainwright': '6,289', 'High Level': '3,641', 'Cardston': '3,585', 'Raymond': '3,743', 'Bonnyville': '6,216', 'Vegreville': '5,708', 'Lamont': '1,864', 'Mayerthorpe': '1,320', 'Millet': '2,061', 'St. Paul': '5,963', 'Smoky Lake': '1,022', 'Viking': '1,041',}

In [39]:
'''look up the population of a city'''
city = input('Enter the name of a city in Alberta: ')
print('The population of', city, 'is', d[city])

The population of Edmonton is 812,201

In [40]:
for city in d:
    if (d[city] > 100000):
        print(city, d[city])

TypeError: '>' not supported between instances of 'str' and 'int'

In [44]:
for city in d:
    print(city,d[city],type(d[city]))

Calgary 1,096,833 <class 'str'>
Edmonton 812,201 <class 'str'>
Red Deer 100,418 <class 'str'>
Lethbridge 92,729 <class 'str'>
St. Albert 64,645 <class 'str'>
Medicine Hat 63,260 <class 'str'>
Grande Prairie 63,166 <class 'str'>
Airdrie 61,581 <class 'str'>
Spruce Grove 34,066 <class 'str'>
Lloydminster 31,400 <class 'str'>
Fort Saskatchewan 24,149 <class 'str'>
Camrose 18,742 <class 'str'>
Cochrane 18,015 <class 'str'>
Brooks 14,451 <class 'str'>
Stony Plain 15,051 <class 'str'>
Canmore 13,992 <class 'str'>
Hanna 2,673 <class 'str'>
Vegreville 5,708 <class 'str'>
High River 13,584 <class 'str'>
Morinville 9,848 <class 'str'>
Whitecourt 10,204 <class 'str'>
Sylvan Lake 14,816 <class 'str'>
Wetaskiwin 12,655 <class 'str'>
Okotoks 28,881 <class 'str'>
Ponoka 6,773 <class 'str'>
Taber 8,104 <class 'str'>
Banff 7,851 <class 'str'>
Lacombe 13,057 <class 'str'>
Drumheller 8,029 <class 'str'>
Devon 6,578 <class 'str'>
Olds 9,184 <class 'str'>
Blackfalds 9,328 <class 'str'>
Stettler 5,952 <class 'str'>
Slave Lake 6,782 <class 'str'>
Edson 8,414 <class 'str'>
Athabasca 2,965 <class 'str'>
Peace River 6,729 <class 'str'>
Vermilion 4,900 <class 'str'>
Wainwright 6,289 <class 'str'>
High Level 3,641 <class 'str'>
Cardston 3,585 <class 'str'>
Raymond 3,743 <class 'str'>
Bonnyville 6,216 <class 'str'>
Lamont 1,864 <class 'str'>
Mayerthorpe 1,320 <class 'str'>
Millet 2,061 <class 'str'>
St. Paul 5,963 <class 'str'>
Smoky Lake 1,022 <class 'str'>
Viking 1,041 <class 'str'>

In [45]:
''' what cities have a population larger than 100000?'''
for city in d:
    if int(d[city].replace(',', '')) > 100000:
        print(city, d[city])

Calgary 1,096,833
Edmonton 812,201
Red Deer 100,418

In [14]:
''' revert the dictionary so that the population is the key and the city is the value'''
d2 = {}
for city in d:
    d2[d[city]] = city
print(d2)

{'1,096,833': 'Calgary', '812,201': 'Edmonton', '100,418': 'Red Deer', '92,729': 'Lethbridge', '64,645': 'St. Albert', '63,260': 'Medicine Hat', '63,166': 'Grande Prairie', '61,581': 'Airdrie', '34,066': 'Spruce Grove', '31,400': 'Lloydminster', '24,149': 'Fort Saskatchewan', '18,742': 'Camrose', '18,015': 'Cochrane', '14,451': 'Brooks', '15,051': 'Stony Plain', '13,992': 'Canmore', '2,673': 'Hanna', '5,708': 'Vegreville', '13,584': 'High River', '9,848': 'Morinville', '10,204': 'Whitecourt', '14,816': 'Sylvan Lake', '12,655': 'Wetaskiwin', '28,881': 'Okotoks', '6,773': 'Ponoka', '8,104': 'Taber', '7,851': 'Banff', '13,057': 'Lacombe', '8,029': 'Drumheller', '6,578': 'Devon', '9,184': 'Olds', '9,328': 'Blackfalds', '5,952': 'Stettler', '6,782': 'Slave Lake', '8,414': 'Edson', '2,965': 'Athabasca', '6,729': 'Peace River', '4,900': 'Vermilion', '6,289': 'Wainwright', '3,641': 'High Level', '3,585': 'Cardston', '3,743': 'Raymond', '6,216': 'Bonnyville', '1,864': 'Lamont', '1,320': 'Mayerthorpe', '2,061': 'Millet', '5,963': 'St. Paul', '1,022': 'Smoky Lake', '1,041': 'Viking'}

In [15]:
''' create a list that contains only population numbers'''
pop = []
for city in d:
    pop.append(int(d[city].replace(',', '')))
print(pop,'\n')

[1096833, 812201, 100418, 92729, 64645, 63260, 63166, 61581, 34066, 31400, 24149, 18742, 18015, 14451, 15051, 13992, 2673, 5708, 13584, 9848, 10204, 14816, 12655, 28881, 6773, 8104, 7851, 13057, 8029, 6578, 9184, 9328, 5952, 6782, 8414, 2965, 6729, 4900, 6289, 3641, 3585, 3743, 6216, 1864, 1320, 2061, 5963, 1022, 1041]

In [16]:
''' get the list of population numbers in ascending order by using a for loop on the values of the dictionary '''
print(d.values())
pop = list(d.values())
for i in range(len(pop)):
    pop[i] = int(pop[i].replace(',', ''))
pop.sort(reverse=False)
for p in pop:
    print(p)

dict_values(['1,096,833', '812,201', '100,418', '92,729', '64,645', '63,260', '63,166', '61,581', '34,066', '31,400', '24,149', '18,742', '18,015', '14,451', '15,051', '13,992', '2,673', '5,708', '13,584', '9,848', '10,204', '14,816', '12,655', '28,881', '6,773', '8,104', '7,851', '13,057', '8,029', '6,578', '9,184', '9,328', '5,952', '6,782', '8,414', '2,965', '6,729', '4,900', '6,289', '3,641', '3,585', '3,743', '6,216', '1,864', '1,320', '2,061', '5,963', '1,022', '1,041'])
1022
1041
1320
1864
2061
2673
2965
3585
3641
3743
4900
5708
5952
5963
6216
6289
6578
6729
6773
6782
7851
8029
8104
8414
9184
9328
9848
10204
12655
13057
13584
13992
14451
14816
15051
18015
18742
24149
28881
31400
34066
61581
63166
63260
64645
92729
100418
812201
1096833

In [17]:
print(d.keys())
print(d.values())
print(d.items())
print(d.get('Calgary'))
print(d['Calgary'])

dict_keys(['Calgary', 'Edmonton', 'Red Deer', 'Lethbridge', 'St. Albert', 'Medicine Hat', 'Grande Prairie', 'Airdrie', 'Spruce Grove', 'Lloydminster', 'Fort Saskatchewan', 'Camrose', 'Cochrane', 'Brooks', 'Stony Plain', 'Canmore', 'Hanna', 'Vegreville', 'High River', 'Morinville', 'Whitecourt', 'Sylvan Lake', 'Wetaskiwin', 'Okotoks', 'Ponoka', 'Taber', 'Banff', 'Lacombe', 'Drumheller', 'Devon', 'Olds', 'Blackfalds', 'Stettler', 'Slave Lake', 'Edson', 'Athabasca', 'Peace River', 'Vermilion', 'Wainwright', 'High Level', 'Cardston', 'Raymond', 'Bonnyville', 'Lamont', 'Mayerthorpe', 'Millet', 'St. Paul', 'Smoky Lake', 'Viking'])
dict_values(['1,096,833', '812,201', '100,418', '92,729', '64,645', '63,260', '63,166', '61,581', '34,066', '31,400', '24,149', '18,742', '18,015', '14,451', '15,051', '13,992', '2,673', '5,708', '13,584', '9,848', '10,204', '14,816', '12,655', '28,881', '6,773', '8,104', '7,851', '13,057', '8,029', '6,578', '9,184', '9,328', '5,952', '6,782', '8,414', '2,965', '6,729', '4,900', '6,289', '3,641', '3,585', '3,743', '6,216', '1,864', '1,320', '2,061', '5,963', '1,022', '1,041'])
dict_items([('Calgary', '1,096,833'), ('Edmonton', '812,201'), ('Red Deer', '100,418'), ('Lethbridge', '92,729'), ('St. Albert', '64,645'), ('Medicine Hat', '63,260'), ('Grande Prairie', '63,166'), ('Airdrie', '61,581'), ('Spruce Grove', '34,066'), ('Lloydminster', '31,400'), ('Fort Saskatchewan', '24,149'), ('Camrose', '18,742'), ('Cochrane', '18,015'), ('Brooks', '14,451'), ('Stony Plain', '15,051'), ('Canmore', '13,992'), ('Hanna', '2,673'), ('Vegreville', '5,708'), ('High River', '13,584'), ('Morinville', '9,848'), ('Whitecourt', '10,204'), ('Sylvan Lake', '14,816'), ('Wetaskiwin', '12,655'), ('Okotoks', '28,881'), ('Ponoka', '6,773'), ('Taber', '8,104'), ('Banff', '7,851'), ('Lacombe', '13,057'), ('Drumheller', '8,029'), ('Devon', '6,578'), ('Olds', '9,184'), ('Blackfalds', '9,328'), ('Stettler', '5,952'), ('Slave Lake', '6,782'), ('Edson', '8,414'), ('Athabasca', '2,965'), ('Peace River', '6,729'), ('Vermilion', '4,900'), ('Wainwright', '6,289'), ('High Level', '3,641'), ('Cardston', '3,585'), ('Raymond', '3,743'), ('Bonnyville', '6,216'), ('Lamont', '1,864'), ('Mayerthorpe', '1,320'), ('Millet', '2,061'), ('St. Paul', '5,963'), ('Smoky Lake', '1,022'), ('Viking', '1,041')])
1,096,833
1,096,833

In [18]:
''' get the length of the dictionary'''
print(len(d))

''' add a new city to the dictionary'''
d['New City'] = '100000'
print(len(d))

''' change the population of a city'''
d['New City'] = '200000'
''' print only the cities with population larger than 100000'''

def printLarge(d):
    for city in d:
        if int(d[city].replace(',', '')) > 100000:
            print(city, d[city])
printLarge(d)

''' remove a city from the dictionary'''
del d['New City']
print(len(d))
printLarge(d)

49
50
Calgary 1,096,833
Edmonton 812,201
Red Deer 100,418
New City 200000
49
Calgary 1,096,833
Edmonton 812,201
Red Deer 100,418

In [19]:
''' user enters a value at at itme until an empty string is entered
determine the most frequent value entered'''
d = {}
while True:
    value = input('Enter a value: ')
    if value == '':
        break
    if value in d:
        d[value] += 1
    else:
        d[value] = 1
print(d)
maxValue = max(d.values())
for key in d:
    if d[key] == maxValue:
        print('The most frequent value is', key, 'which was entered', d[key], 'times')
        continue

{'pp': 2, 'oo': 2, 'd': 1}
The most frequent value is pp which was entered 2 times
The most frequent value is oo which was entered 2 times

In [20]:
'''create a dictionary with the names of numbers in english as keys and the numbers as values'''
d = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10}
print(d)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10}

In [21]:
'''create a dictionary with the names of numbers in english as keys and the names in french as values'''
d = {'one': 'un', 'two': 'deux', 'three': 'trois', 'four': 'quatre', 'five': 'cinq', 'six': 'six', 'seven': 'sept', 'eight': 'huit', 'nine': 'neuf', 'ten': 'dix'}
print(d)
'''print the items in a list of tuples separated by new lines'''
for key, value in d.items():
    print(key, value)

{'one': 'un', 'two': 'deux', 'three': 'trois', 'four': 'quatre', 'five': 'cinq', 'six': 'six', 'seven': 'sept', 'eight': 'huit', 'nine': 'neuf', 'ten': 'dix'}
one un
two deux
three trois
four quatre
five cinq
six six
seven sept
eight huit
nine neuf
ten dix